@model (string Icon, string Message)

<div class="table-empty">
    <span class="material-symbols-outlined table-empty-icon">@Model.Icon</span>
    <p class="md-typescale-body-large table-empty-text">@Model.Message</p>
</div>
